<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maruai</title>
    <%- include('header'); -%>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('adminHeader'); -%>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('adminSidebar'); -%>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container pl-5 mt-5">
          <div class="row">
            <div class="col">
              <h3 class="font-weight-bold">สินค้าของฉัน</h3>
              <p>เป็นหน้าเพิ่มสินค้าขนาดสีชุดในร้านค้าของฉัน</p>
              <a href="/productAdd" class="btn btn-primary"
                >เพิ่มสินค้าของฉัน</a
              >
            </div>
          </div>
        </div>
        <div class="container pl-3">
          <div class="row">
            <div class="col-12">
              <table class="table typeTable">
                <thead class="">
                  <tr>
                    <th scope="col">ชื่อสินค้า</th>
                    <th scope="col">ประเภท</th>
                    <th scope="col">ล่าสุดโดย</th>
                    <th scope="col">ล่าสุด</th>
                    <th scope="col">จัดการสินค้า</th>
                  </tr>
                </thead>
                <tbody>
                  <% products.forEach(function(product){ %>
                  <tr>
                    <td><%= product.name %></td>
                    <td><%= product.type.name %></td>
                    <td><%= product.user.firstname %></td>
                    <td>
                      <%= moment(product.updated).format('Do MMMM YYYY') %> %>
                    </td>
                    <td>
                      <a
                        href="/productStock?product_id=<%= product._id  %>"
                        class="btn btn-outline-success"
                        >จัดการ</a
                      >
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->

      <!-- Main Footer -->
      <!-- <footer class="main-footer">
        <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 3.1.0
        </div>
      </footer> -->
    </div>
    <!-- ./wrapper -->

    <%- include('footer'); -%>
    <script>
      var message = "<%= message%>";
      var uri = window.location.toString();
    </script>
    <script src="javascripts/adminProduct.js"></script>
  </body>
</html>
